
#include "Ids.h"

STRINGTABLE
{
    STRING_APPLICATION_NAME "huffman encoder"
}

MAINMENU MENU
{
    POPUP "file(&F)"
    {
        MENUITEM "open(&O)", MENUID_OPEN
        MENUITEM SEPARATOR
        MENUITEM "exit", MENUID_EXIT
    }
    POPUP "encode(&E)"
    {
        MENUITEM "compress(&c)", MENUID_COMPRESS
        MENUITEM "extract(&e)", MENUID_EXTRACT
    }
}
